<h2>管理メニュー</h2>

<ul>
    <li>@Html.ActionLink("事業所管理", "Index", "CareHome")</li>
    <li>@Html.ActionLink("ページ管理", "Index", "StaticPage")</li>
    <li>@Html.ActionLink("ログ管理", "Index", "Log")</li>
</ul>
