
@{
    ViewBag.Title = "事業所検索";
}

@section scripts{
    <script src="~/Scripts/raty/jquery.raty.js"></script>
    <script>
        $(document).ready(function () {

            function CareHome(data) {
                var s = this;
                s.data = data;
                s.cpHref = ko.computed(function () {
                    return '/事業所/' + s.data.CareHomeCode;
                });
            }

            function AppModel() {
                var s = this;

                s.prefectures = ko.observableArray([]);
                s.cities = ko.observableArray([]);
                s.companyTypes = ko.observableArray([]);
                s.sortFields = ko.observableArray([]);

                s.selectedPrefecture = ko.observable();
                s.selectedCity = ko.observable();
                s.selectedCompanyType = ko.observable();
                s.selectedSortField = ko.observable();
                s.descending = ko.observable(true);
                s.keyword = ko.observable();

                s.count = ko.observable();
                s.careHomes = ko.observableArray([]);
                s.nextPage = ko.observable(0);
                s.noMore = ko.observable(false);

                s.cpPrefectures = ko.computed(function () {
                    var prefectures = Enumerable.From(s.prefectures()).ToArray();
                    prefectures.unshift({ id: null, name: '都道府県' });
                    return prefectures;
                });
                s.cpCities = ko.computed(function () {
                    var cities = [];
                    if (s.selectedPrefecture() != null) {
                        var q = Enumerable.From(s.cities());
                        q = q.Where(function (c) { return Math.floor(parseInt(c.id) / 1000) == s.selectedPrefecture().id; })
                        cities = q.ToArray();
                    }
                    cities.unshift({ id: null, name: '市区町村' });
                    return cities;
                });
                s.cpCompanyTypes = ko.computed(function () {
                    var types = Enumerable.From(s.companyTypes()).ToArray();
                    types.unshift({ id: null, name: '法人区分' });
                    return types;
                });

                s.cpPrefectureCode = ko.computed(function () {
                    if (s.selectedPrefecture() == null)
                        return null;
                    return s.selectedPrefecture().id;
                });

                s.cpCityCode = ko.computed(function () {
                    if (s.selectedCity() == null)
                        return null;
                    return s.selectedCity().id;
                });

                s.cpCompanyType = ko.computed(function () {
                    if (s.selectedCompanyType() == null)
                        return null;
                    return s.selectedCompanyType().id;
                });

                s.cpSortField = ko.computed(function () {
                    if (s.selectedSortField() == null)
                        return null;
                    return s.selectedSortField().id;
                });

                s.Init = function () {
                    $.ajax({
                        cache: false,
                        type: 'POST',
                        url: '/Home/GetSelectOptions'
                    }).done(function (data) {
                        console.info(data);
                        s.prefectures(data.prefectures);
                        s.cities(data.cities);
                        s.companyTypes(data.companyTypes);
                        s.sortFields(data.sortFields);
                        s.Search();
                    });
                }

                s.ActivateRaty = function () {
                    $('.rating').raty({
                        score: function () {
                            return $(this).attr('data-score');
                        },
                        path: '/Scripts/raty/images'
                    });
                }

                s.Search = function () {
                    s.nextPage(0);
                    s.noMore(false);
                    s.SearchMore();
                }

                s.SearchMore = function () {
                    $.ajax({
                        cache: false,
                        type: 'POST',
                        url: '/Home/GetCareHomes',
                        data: {
                            prefectureCode: s.cpPrefectureCode(),
                            cityCode: s.cpCityCode(),
                            companyType: s.cpCompanyType(),
                            sortField: s.cpSortField(),
                            descending: s.descending(),
                            keyword: s.keyword(),
                            page: s.nextPage()
                        }
                    }).done(function (data) {
                        console.info(data);
                        s.count(data.count);
                        if (s.nextPage() == 0)
                            s.careHomes([]);
                        if (data.careHomes.length == 0)
                            s.noMore(true);
                        for (var n = 0; n < data.careHomes.length; n++) {
                            s.careHomes.push(new CareHome(data.careHomes[n]));
                        }
                        s.nextPage(s.nextPage() + 1);
                        s.ActivateRaty();
                    });
                }
            }

            var model = new AppModel();
            model.Init();
            ko.applyBindings(model);
        });
    </script>
}

<!-- Search -->
<div class="search-blo">
    <h1><i class="fa fa-search"></i>事業所検索</h1>
    <div class="row">
        <div class="col-md-4"><select data-bind="options: cpPrefectures, optionsText: 'name', value: selectedPrefecture" class="form-control"></select></div>
        <div class="col-md-4"><select data-bind="options: cpCities, optionsText: 'name', value: selectedCity" class="form-control"></select></div>
        <div class="col-md-4"><select data-bind="options: cpCompanyTypes, optionsText: 'name', value: selectedCompanyType" class="form-control"></select></div>

        <div class="col-md-8"><select data-bind="options: sortFields, optionsText: 'name', value: selectedSortField" class="form-control"></select></div>
        <div class="col-md-4" style="margin-top: 10px">
            <div class="checkbox">
                <label>降順<input type="checkbox" data-bind="checked: descending" /></label>
            </div>
        </div>

        <div class="col-md-8"><input type="text" data-bind="value: keyword" placeholder="キーワード(事業所名など)" /></div>
        <div class="col-md-4"><button type="button" data-bind="click: Search" class="search-btn">検索する</button></div>
    </div>
</div>

<!-- Results -->
<div class="col-md-12 total-search">
    <span data-bind="text: count"></span>件の検索結果
</div>

<div data-bind="foreach: careHomes">
    <div class="search-rslt col-md-12">
        <div class="row">
            <div class="col-md-4"><img alt="" src="~/Content/images/search-img01.png"></div>
            <div class="col-md-8">
                <h3><a data-bind="text: data.CompanyName, attr: { href : cpHref }" href="#" target="_blank"></a></h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <td><i class="fa  fa-thumb-tack"></i></td>
                            <td>所在地:</td>
                            <td>
                                <span data-bind="text: data.Address"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-calendar"></i></td>
                            <td>運営年数:</td>
                            <td><span data-bind="text: data.Years"></span>年</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-tachometer"></i></td>
                            <td>ケアマネ人数:</td>
                            <td><span data-bind="text: data.CareManagerCount"></span>人</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-comments"></i></td>
                            <td>評価件数:</td>
                            <td><span data-bind="text: data.ReviewCount"></span>件</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-star-half-full"></i></td>
                            <td>平均得点:</td>
                            <td style="font-size: 11px;">
                                <span data-bind="attr: { 'data-score': data.Rating }" class="rating"></span>
                                <span><span data-bind="text: Math.round(10*data.Rating)/10.0"></span>点</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-bind="text: data.Messages" class="col-md-12"></div>
        </div>
    </div>
</div>

<div data-bind="visible: !noMore(), click: SearchMore" class="col-md-12 total-search more-search">
    さらに読み込む
</div>
