
@{
    var title = "ケアマネ検索";
    ViewBag.Title = title;
}

@section scripts{
    <script src="~/Scripts/raty/jquery.raty.js"></script>
    <script>
        $(document).ready(function () {

            function CareManager(data) {
                var s = this;
                s.data = data;
                s.cpHref = ko.computed(function () {
                    return '/Home/CareManagerInfo/' + s.data.CareManagerId;
                });
                s.cpImageSrc = ko.computed(function () {
                    return '/MediaFiles/' + s.data.MediaFileDataId + '?maxWidth=190&maxHeight=190';
                });
            }

            function License(data) {
                var s = this;
                s.id = data.id;
                s.name = data.name;
                s.checked = ko.observable(false);
                s.Toggled = function () {
                    console.info('toggled');
                }
            }

            function AppModel() {
                var s = this;

                s.prefectures = ko.observableArray([]);
                s.cities = ko.observableArray([]);
                s.genders = ko.observableArray([]);
                s.ageRanges = ko.observableArray([]);
                s.licenses = ko.observableArray([]);
                s.sortFields = ko.observableArray([]);

                s.selectedPrefecture = ko.observable();
                s.selectedCity = ko.observable();
                s.selectedGender = ko.observable();
                s.selectedAgeRange = ko.observable();
                s.selectedSortField = ko.observable();
                s.selectedLicense = ko.observable();
                s.allowNewPatient = ko.observable(true);
                s.descending = ko.observable(true);

                s.nextPage = ko.observable(0);
                s.noMore = ko.observable(false);

                s.count = ko.observable(0);
                s.careManagers = ko.observableArray([]);

                s.cpPrefectures = ko.computed(function () {
                    var prefectures = Enumerable.From(s.prefectures()).ToArray();
                    //prefectures.unshift({ id: null, name: '都道府県' });
                    return prefectures;
                });
                s.cpCities = ko.computed(function () {
                    var cities = [];
                    if (s.selectedPrefecture() != null) {
                        var q = Enumerable.From(s.cities());
                        q = q.Where(function (c) { return Math.floor(parseInt(c.id) / 1000) == s.selectedPrefecture().id; })
                        cities = q.ToArray();
                    }
                    cities.unshift({ id: null, name: '市区町村' });
                    return cities;
                });
                s.cpLicenses = ko.computed(function () {
                    var licenses = Enumerable.From(s.licenses())
                        .ToArray();
                    licenses.unshift({ id: null, name: '保有資格' });
                    return licenses;
                });
                s.cpGenders = ko.computed(function () {
                    var genders = Enumerable.From(s.genders()).ToArray();
                    genders.unshift({ id: null, name: '性別' });
                    return genders;
                });
                s.cpAgeRanges = ko.computed(function () {
                    var ageRanges = Enumerable.From(s.ageRanges()).ToArray();
                    ageRanges.unshift({ id: null, name: '年代' });
                    return ageRanges;
                });

                s.cpPrefectureCode = ko.computed(function () {
                    if (s.selectedPrefecture() == null)
                        return null;
                    return s.selectedPrefecture().id;
                });

                s.cpCityCode = ko.computed(function () {
                    if (s.selectedCity() == null)
                        return null;
                    return s.selectedCity().id;
                });
                s.cpGender = ko.computed(function () {
                    if (s.selectedGender() == null)
                        return null;
                    return s.selectedGender().id;
                });
                s.cpAgeRange = ko.computed(function () {
                    if (s.selectedAgeRange() == null)
                        return null;
                    return s.selectedAgeRange().id;
                })
                s.cpSortField = ko.computed(function () {
                    if (s.selectedSortField() == null)
                        return null;
                    return s.selectedSortField().id;
                });

                s.cpLicenseId = ko.computed(function () {
                    if (s.selectedLicense() == null)
                        return null;
                    return s.selectedLicense().id;
                });

                s.Init = function () {
                    $.ajax({
                        cache: false,
                        type: 'POST',
                        url: '/Home/GetSelectOptions_CareManagerSearch'
                    }).done(function (data) {
                        console.info(data);
                        s.prefectures(data.prefectures);
                        s.cities(data.cities);
                        s.genders(data.genders);
                        s.ageRanges(data.ageRanges);
                        for (var n = 0; n < data.licenses.length; n++) {
                            s.licenses.push(new License(data.licenses[n]));
                        }
                        s.sortFields(data.sortFields);
                        s.Search();
                    });
                }

                s.ActivateRaty = function () {
                    $('.rating').raty({
                        score: function () {
                            return $(this).attr('data-score');
                        },
                        path: '/Scripts/raty/images'
                    });
                }

                s.Search = function () {
                    s.nextPage(0);
                    s.noMore(false);
                    s.SearchMore();
                }

                s.SearchMore = function () {
                    $.ajax({
                        cache: false,
                        type: 'POST',
                        url: '/Home/GetCareManagers',
                        data: {
                            prefectureCode: s.cpPrefectureCode(),
                            cityCode: s.cpCityCode(),
                            gender: s.cpGender(),
                            ageRange: s.cpAgeRange(),
                            allowNewPatient: s.allowNewPatient(),
                            licenseId: s.cpLicenseId(),
                            sortField: s.cpSortField(),
                            descending: s.descending(),
                            page: s.nextPage()
                        }
                    }).done(function (data) {
                        console.info(data);
                        s.count(data.count);
                        if (s.nextPage() == 0)
                            s.careManagers([]);
                        if (data.careManagers.length == 0)
                            s.noMore(true);
                        for (var n = 0; n < data.careManagers.length; n++) {
                            s.careManagers.push(new CareManager(data.careManagers[n]));
                        }
                        s.nextPage(s.nextPage() + 1);
                        s.ActivateRaty();
                    });
                }
            }

            var model = new AppModel();
            model.Init();
            ko.applyBindings(model);
        });
    </script>
}



<!-- Search -->
<div class="search-blo caremanager-search">
    <h1><i class="fa fa-search"></i>ケアマネ検索</h1>
    <div class="row">
        <div class="col-md-4 prefecture"><select data-bind="options: cpPrefectures, optionsText: 'name', value: selectedPrefecture" class="form-control"></select></div>
        <div class="col-md-8 city"><select data-bind="options: cpCities, optionsText: 'name', value: selectedCity" class="form-control"></select></div>

        <div class="col-md-4 gender"><select data-bind="options: cpGenders, optionsText: 'name', value: selectedGender" class="form-control"></select></div>
        <div class="col-md-4 age"><select data-bind="options: cpAgeRanges, optionsText: 'name', value: selectedAgeRange" class="form-control"></select></div>
        <div class="col-md-4 allownew">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: allowNewPatient" />新規対応可
                </label>
            </div>
        </div>

        <div class="col-md-4 license"><select data-bind="options: cpLicenses, optionsText: 'name', value: selectedLicense" class="form-control"></select></div>

        <div class="col-md-4 sort"><select data-bind="options: sortFields, optionsText: 'name', value: selectedSortField" class="form-control"></select></div>
        <div class="col-md-4 descending">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: descending" />降順
                </label>
            </div>
        </div>

        <div class="col-md-4"><button type="button" data-bind="click: Search" class="search-btn">検索する</button></div>
    </div>
</div>

<!-- Results -->
<div class="col-md-12 total-search">
    <span data-bind="text: count"></span>件の検索結果
</div>

<div data-bind="foreach: careManagers">
    <div class="search-rslt col-md-12">
        <div class="row">
            <div class="col-md-4">
                <a data-bind="attr: { href : cpHref }" href="#" target="_blank">
                    <div data-bind="if: data.MediaFileDataId != null">
                        <img data-bind="attr: { src: cpImageSrc }" />
                    </div>
                    <div data-bind="if: data.MediaFileDataId == null">
                        No Image
                    </div>
                </a>
            </div>
            <div class="col-md-8">
                <h3><a data-bind="text: data.CareManagerName, attr: { href : cpHref }" href="#" target="_blank"></a></h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <td><i class="fa  fa-thumb-tack"></i></td>
                            <td>所属:</td>
                            <td><span data-bind="text: data.CareHomeName"></span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-calendar"></i></td>
                            <td>経験年数:</td>
                            <td><span data-bind="text: data.Years"></span>年</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-comments"></i></td>
                            <td>評価件数:</td>
                            <td><span data-bind="text: data.ReviewCount"></span>件</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-star-half-full"></i></td>
                            <td>平均得点:</td>
                            <td style="font-size: 11px;">
                                <span data-bind="attr: { 'data-score': data.Rating }" class="rating"></span>
                                <span><span data-bind="text: Math.round(10*data.Rating)/10.0"></span>点</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-bind="text: data.Messages" class="col-md-12"></div>
        </div>
    </div>
</div>

<div data-bind="visible: !noMore(), click: SearchMore" class="col-md-12 total-search more-search">
    さらに読み込む
</div>
