@model CareHomeMock.Models.CareHome



@{
    var pages = new[]{
        new { name = "基本情報", action = "CareHomeInfo_BasicInfo"},
        new { name = "ケアマネ一覧", action = "CareHomeInfo_CareManagers"},
        new { name = "写真と動画", action = "CareHomeInfo_Media"},
        new { name = "周辺地図", action = "CareHomeInfo_AccessMap"}
    };
}
<ul class="nav nav-tabs carehomeinfo-menu">
    @foreach (var p in pages)
    {
        var active = "";
        if (p.action == ViewContext.RouteData.Values["action"].ToString())
        {
            active = "active";
        }
        <li role="presentation" class="@active"><a href="@Url.Action(p.action, new { id = Model.CareHomeId, name = Model.CompanyName })">@p.name</a></li>
    }
</ul>
