@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <span>ID:<span>@User.Identity.Name</span></span>
        
        <button class="login-btn" onclick="document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Logout</button>
    }
}
else
{
    <button class="login-btn" onclick="location.href='/Account/Login?id=loginLink'"><i class="fa fa-sign-in"></i>Login</button>
}
